# Xcode
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcscmblueprint

# Swift Package Manager
.swiftpm/
.build/

# Private tokens and sensitive credentials
GoogleService-Info.plist
Secrets.xcconfig

# Xcode automatic plist
Info.plist



