<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBN62XRP2vJseFoP4RbKT7C6heHoYI7Iz4</string>
	<key>GCM_SENDER_ID</key>
	<string>888621267770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.openclassrooms.P14-Eventorias</string>
	<key>PROJECT_ID</key>
	<string>p14-eventorias</string>
	<key>STORAGE_BUCKET</key>
	<string>p14-eventorias.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888621267770:ios:24ea0a79e19ddb14272e03</string>
</dict>
</plist>